.App {
  text-align: center;
}

h1 {
  color: var(--accent-color);
}

.card {
  background-color: white;
  border-radius: 0.5rem;
  max-width: 450px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 0.8rem;
}

.dashboard .bio-textareas {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}